body{
  background-color: #9a75a3;
}
form{
    text-align: center;
}
a{
    text-align: center;
}
div{
    text-align:center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}